<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Dashboard</title>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <!-- <script src=/static/chart1.js></script> -->
    <script src=/static/chart2.js></script> 
    <!-- <script src=/static/chart3.js></script>  -->
    <!-- <script src=/static/chart4.js></script>  -->
    <link rel ="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>H&M DASHBOARD</h1>
   <div>
        <!-- <h2>Rating</h2>
        <div id="piediv"></div>
        <h2>Movies vs TV Shows</h2>
        <div id="bardiv"></div>
        <h2>Genres</h2>
        <div id="sbardiv"></div>
        <h2>Show Duration</h2>
        <div id="donutdiv"></div>   -->
    </div> 
    <script>
        console.log("Viewport width: " + document.documentElement.clientWidth);
        console.log("Viewport height: " + document.documentElement.clientHeight);
        console.log("Document width: " + document.documentElement.scrollWidth);
        console.log("Document height: " + document.documentElement.scrollHeight);
    </script>
</body>
</html>